*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --button: #4a4a4a;
    --green: #4bc800;
}

body{
    background-color: black;
    color: white;
}

img{
    width: 100%;
    display: block;
}

/* header */

header{
    height: 50px;
    text-align: right;
}

.options{
    padding-right: 5px;
    line-height: 50px;
}

/* main */

.main-container{
    max-width: 92%;
    height: calc(100vh - 170px);
    margin: 20px auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 10px
}

.card{
    max-width: calc(100% / 7 - 10px);
    border: 1px solid black;
    position: relative;
}

.card:hover{
    border: 1px solid rgb(0, 174, 255);
}

.card:hover::after{
    content: "\261D";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.info{
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */

footer{
    height: 80px;
    background-color: #222222;
    padding-left: 15px;
}

.footer-navbar{
    height: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-center, .footer-right{
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
}

.footer-right{
    background-color: #4a4a4a;
    height: 100%;
    padding: 0 15px;
    color: red;
}

.footer-item{
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-item i{
    font-size: 1.8rem;
}

.footer-item span{
    font-size: 0.8rem;
}

.footer-left > .fa-angle-up, .footer-center > .fa-angle-up{
    font-size: 0.7rem;
}

/* utils */


.debug{
    border: 2px dashed white;
}

.btn{
    background-color: var(--button);
    border: transparent;
    color: white;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.flex{
    display: flex;
}

.color-green{
    color: var(--green);
}